page-bpra {
    h3 {
        font-size: 1.9rem !important;
        background: #000 !important;
        color: #fff !important;
        padding: 5px !important;
        margin-top: 0.1rem;
        margin-bottom: 0.1rem;
    }
    .pad {
        padding: 0 5px !important;
    }
}
