page-contacts {
    ion-content {
        background-color: #f2f1f7 !important;
    }
    ion-card {
        
    }
    ion-avatar img {
        border-radius: 0 !important;
    }
    h2 {
    	font-weight: 500 !important;
    	font-size: 1.8rem
    }
}
