<ion-header>
  <ion-navbar color="primary">
    <ion-title>Significant Change Stories</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-card *ngFor="let story of stories" (click)="itemTapped($event, story)">
        <ion-item>
          <ion-avatar item-start *ngIf="story.thumbnail != null">
              <img [src]="story.thumbnail" alt="">
          </ion-avatar>
          <h2 [innerHTML]="story.title"></h2>
          <p [innerHTML]="story.excerpt"></p>
        </ion-item>
    </ion-card>

</ion-content>
