page-search {
    ion-avatar img {
        border-radius: 2px !important;
    }
    .label-md {
        margin: 5px 8px 5px 0 !important;
    }
    .item-md h2 {
        font-size: 1.5rem !important;
    }
    .item-md p {
        font-size: 1.3rem !important;
    }
}
