page-post {
    .button-md {
        text-transform: capitalize !important;
    }
    .scroll-content {
        background-color: #f2f1f7 !important;
    }
    ion-label {
        white-space: normal !important;
    }
    span {
        font-size: 14px !important;
    }
    .toolbar-title {
        font-size: 1.6rem !important;
        padding: 0 0px !important;
    }
    .postImages img {
        padding: 5px 2px !important;
    }
}
