page-post {
    .button-md {
        text-transform: capitalize !important;
    }
    .scroll-content {
        background-color: #f2f1f7 !important;
    }
    ion-label {
        white-space: normal !important;
    }
}
