<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{data?.title}}</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>

  <ion-card>
      <div *ngIf="data.thumbnail_images.full.url != null">
        <img [src]="data.thumbnail_images.full.url" style="width: 100%" alt="">
    </div>
  
    <ion-item>
      <span item-start>{{data?.date | date: full}}</span> 
    </ion-item>
  </ion-card>

  <!--<ion-card>
    <ion-item>
      <span><b>Categories: </b></span>
      <span *ngFor="let category of data.categories;  let isLast = last">
        <span *ngIf="!isLast" [innerHTML]="category.title + '&nbsp;|&nbsp;'"></span>
        <span *ngIf="isLast" [innerHTML]="category.title"></span>
      </span>
    </ion-item>
  </ion-card>-->

  <ion-card class="postImages" style="padding: 8px">
    <p [innerHTML]="data.content"></p>
  </ion-card>

  <ion-fab (click)="share(data.title, data.content, data.thumbnail, data.url)" right bottom>
    <button ion-fab color="danger"><ion-icon name="share"></ion-icon></button>
  </ion-fab>


    <ion-list>
      <ion-item *ngFor="let comment of data?.comments">
        <ion-avatar item-start>
          <img src="assets/img/avatar.png" alt="">
        </ion-avatar>
        <p><b>{{comment.name}}</b></p>
        <p [innerHTML]="comment.content"></p>
      </ion-item>
  </ion-list>

  <div style="padding: 0 5px">
      <button (click)="comment()" ion-button block color="primary">Add Comment</button>
    </div>
  

</ion-content>
