page-learn {
    ion-content {
        background-color: #f2f1f7 !important;
    }
    ion-card {
        
    }
    ion-avatar img {
        border-radius: 0 !important;
    }
    h2 {
    	font-weight: 600 !important;
    	font-size: 1.8rem
    }
    .card-md {
        //border-bottom-right-radius: 25px !important;
        //border-top-right-radius: 25px !important;
    }
}
